.promo {
    box-sizing: border-box;
    width: 100%;
    padding: 73px 70px 0;
    background: #073042;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.promo__container {
    min-height: 493px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
}

.promo__title {
    max-width: 640px;
    text-align: start;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    font-style: normal;
    letter-spacing: -3px;
    font-family: 'Inter';
    padding-left: 8px;
    margin: 0;
}

.promo__subtitle {
    max-width: 310px;
    text-align: start;
    color: #FFF;
    opacity: 0.5;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 38px;
}

.promo__image {
    align-self: flex-start;
    object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .promo {
        padding: 20px 20px 0;
    }

    .promo__container {
        min-height: 834px;
    }

    .promo__title {
        padding-top: 40px;
        max-width: 680px;
        font-size: 40px;
        line-height: 52px;
    }
}

@media screen and (max-width: 768px) {
    .promo {
        padding: 14px 14px 0;
        flex-direction: column;
    }

    .promo__image {
        order: -1;
        align-items: center;
        margin: 140px auto 0;
    }

    .promo__container {
        min-height: 586px;
    }

    .promo__title {
        padding-top: 30px;
        max-width: 680px;
        text-align: center;
        font-size: 29px;
        line-height: 37px;
    }
}