.header__burger-button {
    cursor: pointer;
    width: 44px;
    height: 44px;
    padding: 0;
    margin-left: auto;
    border: none;
    background: url(../../images/burger.svg) no-repeat center;
}

@media (pointer: fine) {
    .header__burger-button:hover {
        opacity: .8;
    }
}

@media screen and (max-width: 767px) {
    .header__burger-button {
        width: 40px;
        height: 43px;
        background-size: 40px 43px;
    }
}